In [1]:
# 1st Class

invitation = 20

In [2]:
invitation_last_year = 50

In [3]:
invitation, invitation_last_year = 12, 20

In [4]:
invitation

12

In [5]:
invitation_last_year

20

In [6]:
invitation, invitation_last_year

(12, 20)

In [7]:
salary = 1020.005

In [8]:
invitations = 10L # Long type

In [9]:
invitations

10L

In [10]:
salary = 7500.50j # Complex type

In [11]:
type(salary)

complex

In [12]:
type(invitations)

long

In [13]:
name = 'Bruna Medeiros'

In [14]:
complete_name = "Bruna Medeiros da Silva"

In [15]:
complete_name

'Bruna Medeiros da Silva'

In [16]:
type(name)

str

In [18]:
type(complete_name) # Double and Simple quotes are used to create strings.

str

In [21]:
# Slice - Pick up only a part of the String

first_name = complete_name[0:5] # Python doen't consider the last letter.

In [22]:
first_name

'Bruna'

In [24]:
first_name + ' ' + "is invited"

'Bruna is invited'

In [25]:
age = 21

In [26]:
first_name + " is " + str(age) + " years old." # Concatenate int with string.

'Bruna is 21years old.'

In [29]:
first_name + " is %s years old." %(age) # Concatenate int with string.

'Bruna is 21 years old.'

In [30]:
# 2nd Class

In [31]:
invitations  = ['Bruna Medeiros', 'Gabriela', 'Raquel']

In [32]:
invitations

['Bruna Medeiros', 'Gabriela', 'Raquel']

In [33]:
invitations[0]

'Bruna Medeiros'

In [34]:
invitations[0:2]

['Bruna Medeiros', 'Gabriela']

In [35]:
invitations[2]

'Raquel'

In [36]:
invitations[1:]

['Gabriela', 'Raquel']

In [37]:
invitations.append('Veronica') # Add this string as the last element of the list.

In [38]:
invitations

['Bruna Medeiros', 'Gabriela', 'Raquel', 'Veronica']

In [39]:
invitations.append(10)

In [40]:
invitations

['Bruna Medeiros', 'Gabriela', 'Raquel', 'Veronica', 10]

In [41]:
invitations.remove(10)

In [42]:
invitations.remove(invitations[0])

In [43]:
invitations

['Gabriela', 'Raquel', 'Veronica']

In [44]:
# 3rd Class

In [48]:
inv_types = ['vip', 'normal', 'half', 'special']
inv_types.append('theft')
# Lists are mutable.
# Tuples are immutable

In [50]:
# Tuple
inv_types = ('vip', 'normal', 'half', 'special', 'theft')

In [51]:
inv_types.append('Something')
# Tuples can't be changed after be created.

AttributeError: 'tuple' object has no attribute 'append'

In [53]:
inv_types[1:3]

('normal', 'half')

In [55]:
inv_types = ('vip', 100, 'normal', 30, 'half', 15, 'free', 0)
inv_types[0:2]

('vip', 100)

In [61]:
# Dictionary: Type that allow connect the name and its value
inv_with_value = {'vip': 100, 'normal': 30, 'half': 15, 'free': 0}
inv_with_value['vip'] # Acess the values by its 'key'
#inv_with_value[100] # It doesn't work

100

In [63]:
inv_with_value.keys()

['vip', 'half', 'free', 'normal']

In [64]:
inv_with_value.values()

[100, 15, 0, 30]

In [65]:
max([10, 50, 9])

50

In [66]:
min(1, 2, 3)

1

In [70]:
names = ('Bia', 'Bruna', 'Adrianne')

sorted(names) # Order by alphabetic or numerical order, e.g

['Adrianne', 'Bia', 'Bruna']